apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-dns
  namespace: external-dns
spec:
  interval: 15m
  chart:
    spec:
      chart: external-dns
      version: 7.13.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  releaseName: external-dns
  values:
    resources:
      requests:
        cpu: 5m
    externaldns:
      logLevel: "debug"
      sources:
        - "service"
        - "ingress"
      domainFilters:
        - ${DOMAIN_0}
      provider: cloudflare
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                CF_API_TOKEN: ${DOMAIN_0_CLOUDFLARE_TOKEN}
