apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tailscale
  namespace: tailscale
spec:
  interval: 15m
  chart:
    spec:
      chart: tailscale
      version: 11.17.9
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  releaseName: tailscale
  values:
    TZ: America/Chicago
    resources:
      requests:
        cpu: 10m
    release_name: tailscale
    tailscale:
      authkey: ${TAILSCALE_AUTH_KEY}
      routes: ${LOCALNET}
      hostname: k8s
      advertise_as_exit_node: true
    credentials:
      s3creds:
        type: s3
        url: ${VOLSYNC_S3_URL}
        bucket: ${VOLSYNC_S3_BUCKET}
        accessKey: ${VOLSYNC_S3_ACCESSKEY}
        secretKey: ${VOLSYNC_S3_SECRETKEY}
        encrKey: ${VOLSYNC_ENC_KEY}
    persistence:
      varrun:
        volsync:
          - name: varrun
            type: restic
            credentials: s3creds
            dest:
              enabled: true
            src:
              enabled: true 
              trigger:
                schedule: 30 1 * * *
        