apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sunshine
  namespace: sunshine
spec:
  interval: 15m
  chart:
    spec:
      chart: external-service
      version: 16.14.11
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  releaseName: sunshine
  values:
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: sunshine.${DOMAIN_0}
        integrations:
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: ${CERT_ISSUER}
    service:
      main:
        type: ExternalIP
        enabled: true
        externalIP: 192.168.1.54
        ports:
          main:
            enabled: true
            port: 47990
            protocol: https