apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: generic-device-plugin
  namespace: generic-device-plugin
spec:
  interval: 15m
  chart:
    spec:
      chart: generic-device-plugin
      version: 1.0.1
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  releaseName: generic-device-plugin
  values:
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                LOG_LEVEL: debug