apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sabnzbd
  namespace: sabnzbd
spec:
  interval: 15m
  chart:
    spec:
      chart: sabnzbd
      version: 23.2.14
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  releaseName: sabnzbd
  values:
    TZ: America/Chicago
    resources:
      requests:
        cpu: 20m
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                SABNZBD__HOST_WHITELIST_ENTRIES: "sabnzbd.${DOMAIN_0}, sabnzbd.sabnzbd.svc"
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: sabnzbd.${DOMAIN_0}
        integrations:
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: ${CERT_ISSUER}
          homepage:
            enabled: true
            group: Arr
            widget:
              custom:
                key: ${HP_API_SABNZBD}
    credentials:
      s3creds:
        type: s3
        url: ${VOLSYNC_S3_URL}
        bucket: ${VOLSYNC_S3_BUCKET}
        accessKey: ${VOLSYNC_S3_ACCESSKEY}
        secretKey: ${VOLSYNC_S3_SECRETKEY}
        encrKey: ${VOLSYNC_ENC_KEY}
    persistence:
      config:
        volsync:
          - name: config
            type: restic
            credentials: s3creds
            dest:
              enabled: true
            src:
              enabled: true 
              trigger:
                schedule: 30 1 * * *
      media-vol:
        enabled: true
        type: nfs
        mountPath: /media
        path: /mnt/data/media
        server: nas.${DOMAIN_0}
    securityContext:
      container:
        UMASK: "0000"
