apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: resilio-sync
  namespace: resilio-sync
spec:
  interval: 15m
  chart:
    spec:
      chart: resilio-sync
      version: 18.14.1
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  releaseName: resilio-sync
  values:
    TZ: America/Chicago
    resources:
      requests:
        cpu: 20m
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: sync.${DOMAIN_0}
        integrations:
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: ${CERT_ISSUER}
    credentials:
      s3creds:
        type: s3
        url: ${VOLSYNC_S3_URL}
        bucket: ${VOLSYNC_S3_BUCKET}
        accessKey: ${VOLSYNC_S3_ACCESSKEY}
        secretKey: ${VOLSYNC_S3_SECRETKEY}
        encrKey: ${VOLSYNC_ENC_KEY}
    persistence:
      config:
        volsync:
          - name: config
            type: restic
            credentials: s3creds
            dest:
              enabled: true
            src:
              enabled: true 
              trigger:
                schedule: 30 1 * * *
      media-vol:
        enabled: true
        type: nfs
        mountPath: /sync/media
        path: /mnt/data/media
        server: nas.${DOMAIN_0}

    securityContext:
        UMASK: "0000"