apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homepage
  namespace: homepage
spec:
  interval: 15m
  chart:
    spec:
      chart: homepage
      version: 11.19.1
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  releaseName: homepage
  values:
    enabled: false
    resources:
      requests:
        cpu: 10m
    TZ: America/Chicago
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: homepage.${DOMAIN_0}
        integrations:
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: ${CERT_ISSUER}

    addons:
      codeserver:
        enabled: true
        ingress:
          enabled: true
          ingressClassName: internal
          hosts:
            - host: cs-homepage.${DOMAIN_0}
          integrations:
            certManager:
              enabled: true
              certificateIssuer: ${CERT_ISSUER}

    credentials:
      s3creds:
        type: s3
        url: ${VOLSYNC_S3_URL}
        bucket: ${VOLSYNC_S3_BUCKET}
        accessKey: ${VOLSYNC_S3_ACCESSKEY}
        secretKey: ${VOLSYNC_S3_SECRETKEY}
        encrKey: ${VOLSYNC_ENC_KEY}
    persistence:
      config:
        volsync:
          - name: config
            type: restic
            credentials: s3creds
            dest:
              enabled: true
            src:
              enabled: true 
    workload:
      main:
        podSpec:
          automountServiceAccountToken: true
          containers:
            main:
              env:
                HOMEPAGE_ALLOWED_HOSTS: "homepage.${DOMAIN_0}"
