apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sonarr
  namespace: sonarr
spec:
  interval: 15m
  chart:
    spec:
      chart: sonarr
      version: 25.2.20
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  releaseName: sonarr
  values:
    TZ: America/Chicago
    resources:
      requests:
        cpu: 30m
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: sonarr.${DOMAIN_0}
        integrations:
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: ${CERT_ISSUER}
          homepage:
            enabled: true
            group: Arr
            widget:
              custom:
                key: ${HP_API_SONARR}
    securityContext:
      container:
        UMASK: "0000"
    credentials:
      s3creds:
        type: s3
        url: ${VOLSYNC_S3_URL}
        bucket: ${VOLSYNC_S3_BUCKET}
        accessKey: ${VOLSYNC_S3_ACCESSKEY}
        secretKey: ${VOLSYNC_S3_SECRETKEY}
        encrKey: ${VOLSYNC_ENC_KEY}
    persistence:
      config:
        volsync:
          - name: config
            type: restic
            credentials: s3creds
            dest:
              enabled: true
            src:
              enabled: true 
              trigger:
                schedule: 30 1 * * *
      media-vol:
        enabled: true
        type: nfs
        mountPath: /media
        path: /mnt/data/media
        server: nas.${DOMAIN_0}