apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prowlarr
  namespace: prowlarr
spec:
  interval: 15m
  chart:
    spec:
      chart: prowlarr
      version: 21.3.6
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  releaseName: prowlarr
  values:
    TZ: America/Chicago
    resources:
      requests:
        cpu: 20m
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: prowlarr.${DOMAIN_0}
        integrations:
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: ${CERT_ISSUER}
    credentials:
      s3creds:
        type: s3
        url: ${VOLSYNC_S3_URL}
        bucket: ${VOLSYNC_S3_BUCKET}
        accessKey: ${VOLSYNC_S3_ACCESSKEY}
        secretKey: ${VOLSYNC_S3_SECRETKEY}
        encrKey: ${VOLSYNC_ENC_KEY}
    persistence:
      config:
        volsync:
          - name: config
            type: restic
            credentials: s3creds
            dest:
              enabled: true
            src:
              enabled: true 
              trigger:
                schedule: 00 1 * * *
      media-vol:
        enabled: true
        type: nfs
        mountPath: /media
        path: /mnt/data/media
        server: nas.${DOMAIN_0}
    securityContext:
      container:
        UMASK: "0022"
