apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: bitmagnet
  namespace: bitmagnet
spec:
  interval: 15m
  chart:
    spec:
      chart: bitmagnet
      version: 4.13.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  releaseName: bitmagnet
  values:
    resources:
      requests:
        cpu: 20m
    global:
      stopAll: false
    TZ: America/Chicago
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                TMDB_API_KEY: ${TMDB_API_KEY}
                CLASSIFIER_DELETE_XXX: true
    service:
      torrent:
        enabled: true
        ports:
          tcp:
            enabled: true
            port: ${BM_VPN_INBOUND_PORT}
            # port: 57520
            targetPort: 6881
    addons:
      codeserver:
        enabled: false
      gluetun:
        enabled: true
        container:
          resources:
            limits:
              truechart.org/tun: 1
          env:
            FIREWALL: "on"
            FIREWALL_OUTBOUND_SUBNETS: ${LOCALNET}
            FIREWALL_VPN_INPUT_PORTS: "${BM_VPN_INBOUND_PORT}"
            VPN_TYPE: wireguard
            VPN_SERVICE_PROVIDER: "custom"
            DOT: "on"
            DOT_VERBOSITY: 1
            WIREGUARD_ENDPOINT_IP: ${BM_VPN_ENDPOINT_IP}
            WIREGUARD_ENDPOINT_PORT: "${BM_VPN_ENDPOINT_PORT}"
            WIREGUARD_ADDRESSES: ${BM_WIREGUARD_ADDRESSES}
            WIREGUARD_PRIVATE_KEY: ${BM_WIREGUARD_PRIVATE_KEY}
            WIREGUARD_PUBLIC_KEY: ${BM_WIREGUARD_PUBLIC_KEY}
            WIREGUARD_PERSISTENT_KEEPALIVE_INTERVAL: "25s"
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: bitmagnet.${DOMAIN_0}
        integrations:
          nginx:
            enabled: true
          certManager:
            enabled: true
            certificateIssuer: ${CERT_ISSUER}
    credentials:
      s3creds:
        type: s3
        url: ${VOLSYNC_S3_URL}
        bucket: ${VOLSYNC_S3_BUCKET}
        accessKey: ${VOLSYNC_S3_ACCESSKEY}
        secretKey: ${VOLSYNC_S3_SECRETKEY}
        encrKey: ${VOLSYNC_ENC_KEY}
    cnpg:
      main:
        mode: recovery
        backups:
          enabled: true
          credentials: s3creds
        recovery:
          credentials: s3creds
    # persistence:
    #   config:
    #     enabled: true
    #     volsync:
    #       - name: config
    #         type: restic
    #         credentials: s3creds
    #         dest:
    #           enabled: true
    #         src:
    #           enabled: true 