apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ext-truenas
  namespace: external-services
spec:
  interval: 15m
  chart:
    spec:
      chart: external-service
      version: 16.14.8
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  values:
    resources:
      requests:
        cpu: 10m

    ingress:
      main:
        enabled: true
        ingressClassName: internal
        annotations:
          nginx.ingress.kubernetes.io/backend-protocol: HTTPS
        hosts:
          - host: truenas.${DOMAIN_0}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: ${CERT_ISSUER}
          homepage:
            enabled: true
            group: Infra
            name: "TrueNAS"
            description: "Network Attached Storage"
            widget:
              custom:
                type: "truenas"
                key: ${HP_API_TRUENAS}
                enablePools: "true"
    service:
      main:
        type: ExternalIP
        enabled: true
        externalIP: 192.168.1.177
        ports:
          main:
            enabled: true
            port: 443
            protocol: https