apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyfin
  namespace: jellyfin
spec:
  interval: 15m
  chart:
    spec:
      chart: jellyfin
      version: 22.2.21
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  releaseName: jellyfin
  values:
    resources:
      requests:
        cpu: 10m
    TZ: America/Chicago
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: tv.${DOMAIN_0}
          - host: jellyfin.${DOMAIN_0}
        integrations:
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: ${CERT_ISSUER}
          homepage:
            enabled: true
            group: Media
            widget:
              custom:
                key: ${HP_API_JELLYFIN}
    credentials:
      s3creds:
        type: s3
        url: ${VOLSYNC_S3_URL}
        bucket: ${VOLSYNC_S3_BUCKET}
        accessKey: ${VOLSYNC_S3_ACCESSKEY}
        secretKey: ${VOLSYNC_S3_SECRETKEY}
        encrKey: ${VOLSYNC_ENC_KEY}
    persistence:
      config:
        volsync:
          - name: config
            type: restic
            credentials: s3creds
            dest:
              enabled: true
            src:
              enabled: true 
              trigger:
                schedule: 31 0 * * *
      metadata:
        enabled: true
        mountPath: "/data/metadata"          
        volsync:
          - name: metadata
            type: restic
            credentials: s3creds
            dest:
              enabled: true
            src:
              enabled: true 
              trigger:
                schedule: 31 0 * * *
      data:
        enabled: true
        mountPath: "/data"
        volsync:
          - name: data
            type: restic
            credentials: s3creds
            dest:
              enabled: true
            src:
              enabled: true 
              trigger:
                schedule: 31 0 * * *
      media-vol:
        enabled: true
        type: nfs
        mountPath: /media
        path: /mnt/data/media
        server: nas.${DOMAIN_0}
    securityContext:
      container:
        UMASK: "0022"
        runAsUser: 0
        runAsGroup: 0
    workload:
      main:
        podSpec:
          containers:
            main:
              resources:
                limits:
                  gpu.intel.com/i915: 1
